AWS_REGION=us-east-1
STAGE=dev

JWT_ISSUER=https://login.microsoftonline.com/4b0c585d-b153-4a09-9342-8df80ff8962b/v2.0
JWT_AUDIENCE=7a88281a-780d-49a9-9cb7-d0bc4333f5c4

CORS_ORIGIN=http://localhost:5173